/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* With Font size of 62.5%, 1rem equals 10px */
html {
    font-size: 62.5%;
}

/* Sets colours throughout website */
:root {
    --dark-green: #6e9075ff;
    --dark-black: #000000;
    --white: #F5F5F5;
    --shadow-gray: #3a3a3a;
}

/* General body and header styles */
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Merienda', sans-serif;
    font-size: 1.6rem;
    color: var(--dark-black);
}

header {
    background-color: var(--dark-green);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 1.6rem .6rem 1.6rem;
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px var(--shadow-gray);
    justify-content: space-between;
    align-items: baseline;
}

#menu {
    letter-spacing: 1px;
    list-style-type: none;
}

.header-text {
    color: var(--dark-black);
    text-decoration: none;
}

.header-style {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu-list {
    margin-bottom: 1rem;
}




   
